# Strings

## Introduction

In [ ]:
print("abaaaa")

abaaaa

In [ ]:
print("abc##%^&")

abc##%^&

In [ ]:
# print("abb12345"")

# print("abb12345')

s = "Sahil Bansal"
print(s)

Sahil Bansal

In [ ]:
# s = "abb12345"" ---> extra closing double quote

s = "Sahil's phone"
print(s)

Sahil's phone

In [ ]:
s = "Sahil\"s phone"  # \" -> an escape character or a special character
print(s)

Sahil"s phone

In [ ]:
print("Sahil\nphone")

Sahil
phone

In [ ]:
print(100 == "100")

print(100 == True)

False
False

In [ ]:
print(int('3') == 3)

True

In [ ]:
print(str(100) == "100") # typecast an integer to a string

True

In [ ]:
print(2 + 3)
print('2' + '3') # concatenation

5
23

## Challenge 1:

Take a string as input and print all the characters in a newline.

Input:
"India"

Output:

I

n

d

i

a

In [ ]:
my_country = input()
print(my_country)

India
India

In [ ]:
for i in my_country:
  print(i)

I
n
d
i
a

In [ ]:
print(type(my_country))

<class 'str'>

## Challenge 2:

Given a string as input, print the first and the last character of the string.

Input: "India"

Output:

I

a

In [ ]:
s = "India"

In [ ]:
n = len(s)
print(n)

5

In [ ]:
print(s[0])

I

In [ ]:
print(s[-1])

a

## String Slicing

In [ ]:
print(s[:2]) # print 1st two

In

In [ ]:
print(s[-2:]) # print last two

ia

## Mutability

In [ ]:
l = [1, 5, 7, 4] # lists are mutable (we can change val at given index)

l[0] = 9
print(l)

[9, 5, 7, 4]

In [ ]:
s = "Interviewbit Academy"

# s[0] = "I" --> strings are not mutable, can't change a value in a string
# can't change a value at a given index in string

print(s)
print(id(s)) # location of the space for the variable

Interviewbit Academy
140116094265424

In [ ]:
s = "My Country" # you can replace entire string, it is a copy
# it is a new container
print(s)

print(id(s)) # location of the space for the variable -> has changed

My Country
140116094615152

In [ ]:
s = "India"
print(s)

print(id(s))

India
140116236529136

In [ ]:
s = "Interviewbit"
t = "Scaler"

print(s)
print(id(s))

print(t)
print(id(t))

Interviewbit
140116094486192
Scaler
140116237361520

In [ ]:
l = [1, 2, 3]
print(id(l))

l[0] = 9
print(id(l))

140116094593776
140116094593776

## Challenge 3:

Take a string as input and print the ASCII value of the characters in it.

In [ ]:
print(ord('a'))

97

In [ ]:
print(ord('A'))

65

In [ ]:
print(ord('0'))

48

In [ ]:
s = "India"

for i in s:
  print(ord(i))

73
110
100
105
97

In [ ]:
print(ord(' '))

32

In [ ]:
print(ord('%'))

37

## Given a ASCII value, convert that to a character

In [ ]:
print(chr(97))

a

In [ ]:
print(chr(65))

A

In [ ]:
print(chr(48))

0

In [ ]:
# 256 ASCII values

for i in range(256):
  print(chr(i), end=' ')

         
                     ! " # $ % & ' ( ) * + , - . / 0 1 2 3 4 5 6 7 8 9 : ; < = > ? @ A B C D E F G H I J K L M N O P Q R S T U V W X Y Z [ \ ] ^ _ ` a b c d e f g h i j k l m n o p q r s t u v w x y z { | } ~                                    ¡ ¢ £ ¤ ¥ ¦ § ¨ © ª « ¬ ­ ® ¯ ° ± ² ³ ´ µ ¶ · ¸ ¹ º » ¼ ½ ¾ ¿ À Á Â Ã Ä Å Æ Ç È É Ê Ë Ì Í Î Ï Ð Ñ Ò Ó Ô Õ Ö × Ø Ù Ú Û Ü Ý Þ ß à á â ã ä å æ ç è é ê ë ì í î ï ð ñ ò ó ô õ ö ÷ ø ù ú û ü ý þ ÿ

In [ ]:
print(ord('['))

91

In [ ]:
print(ord('🌙'))

127769

In [ ]:
print(ord('🌞'))

127774

In [ ]:
help(ord)

Help on built-in function ord in module builtins:

ord(c, /)
    Return the Unicode code point for a one-character string.

In [ ]:
print(chr(127774)) # converts the unicode to the character

🌞

In [ ]:
print(ord('😂'))

128514

In [ ]:
print(ord('☺'))

9786

In [ ]:
print(ord('့'))

4151

## Challenge 4:

Given a string as input, print it 3 times without any space. (can't use a loop)

Input:
"India"

Ouput:
"IndiaIndiaIndia"

In [ ]:
print('India' + 'India' + 'India')

IndiaIndiaIndia

In [ ]:
print('India'*3)

IndiaIndiaIndia

In [ ]:
s = 'India' + 'India' + "India"

print(s)
print(len(s))

IndiaIndiaIndia
15

In [ ]:
s = 'India'*3

print(s)
print(len(s))

IndiaIndiaIndia
15

In [ ]:
city = "Phoenix"
print(len(city*3))

21

## Challenge 5:

Given a string as input, count the no of upper case characters
(A - Z) in it.

In [ ]:
# capital is the new small
# A: 65
# Z: 90

# a: 97
# z: 122

In [ ]:
s = "IndiaRocks"

In [ ]:
cnt = 0
for i in s:
  if ord(i) >= 65 and ord(i) <= 90:
    # upper case
    cnt += 1
  
print(cnt)

2

In [ ]:
cnt = 0
for i in s:
  if i >= 'A' and i <= 'Z':
    # upper case
    cnt += 1
  
print(cnt)

2

In [ ]:
cnt = 0
for i in s:
  if i.isupper():
    # upper case
    cnt += 1
  
print(cnt)

2

In [ ]:
print('c'.isupper())
print('c'.islower())

False
True

In [ ]:
print('C'.isupper())

True

## Challenge 6:

Convert the string to lower case.

Input: "INdiA"

Output: "india"

In [ ]:
print('Sahil@SCALER.com' == 'sahil@scaler.com')

False

In [ ]:
s = "SaHIL@scaler.com"

print(s.lower())

sahil@scaler.com

In [ ]:
s = "INdiA"
print(s.lower())

india

In [ ]:
print(s.upper())

INDIA

In [ ]:
print(s.capitalize())

India

In [ ]:
s = "my country is india"

print(s.capitalize())

My country is india

In [ ]:
print(s.title())

My Country Is India

In [ ]:
s = "INdiA"

l = []

for i in s:
  if i.isupper():
    # add 32 here
    x = ord(i) + 32
  else:
    x = ord(i)
  
  print(chr(x), end='')
  l.append(chr(x)) # add the lower case character to a list

print()
print(l)

# concatenate the string from these characters
# new_s = ''+ l[0] + l[1] + l[2] + l[3] + l[4]
# print(new_s)

ans = ''
for i in l:
  ans += i

print(ans)

india
['i', 'n', 'd', 'i', 'a']
india

In [ ]:
l = ['i', 'n', 'd', 'i', 'a']

s = ''.join(l)
print(s)

india

In [ ]:
s = 'my country is india'
l = s.split()
print(l)

['my', 'country', 'is', 'india']

In [ ]:
s = ' '.join(l)
print(s)

my country is india

## Quizzes

In [ ]:
def spongebob(str):
  new_str = ""
  for ind, char in enumerate(str):
    if ind % 2 == 1:
      # odd index character is becoming lower
      new_str += char.lower()
    else:
      # even index character is becoming upper
      new_str += char.upper()
  return new_str


print(spongebob('scaler'))

ScAlEr

In [ ]:
l = [5, 1, 6, 9, 10]

for i, v in enumerate(l):
  print(i, v)

0 5
1 1
2 6
3 9
4 10

In [ ]:
def unique(str):
  letters = []
  
  for char in str:
    if char not in letters: # if the character is not present in the letters
      letters.append(char)

  return letters


res = unique('apple')
print(res)

['a', 'p', 'l', 'e']

In [ ]:
def mystery(str):
  i = int(len(str)/2)
  print(i)
  a = str[:i]
  print(a)
  b = str[i:]
  print(b)
  return a.upper() + b.lower()

print(mystery("abracadabra"))

5
abrac
adabra
ABRACadabra

In [ ]:
s = "India"
print(id(s))

s = "India"
print(id(s))

140116093823344
140116093823344

In [ ]:
print(type('I'))

<class 'str'>

## Doubts

In [ ]:
s = """This
is
multi
line"""

print(s)

print(len(s))

This
is
multi
line
18

In [130]:
print('🌟🌟🌙🌟🌟⭐')

🌟🌟🌙🌟🌟⭐