In [ ]:
def solve(A):

  res = 0
  return res

In [ ]:
print(solve(5)) # is already done for you in the test cases in scaler IDE

# 5 is the input is also given in the test cases, you don't need to provide

0

In [ ]:
def solve(A):
  res = 0
  
  for i in range(1, A + 1):
      if i % 2 == 0:
          # print(i, end=' ')
          res += i
  
  # print()

  return res

In [ ]:
print(solve(8))

20

In [ ]:
x = input()

3 2

In [ ]:
print(x)

3 2

In [ ]:
print(int(x))

ValueError: ignored

In [ ]:
x = input() # read an entire line
y = input()
print(x)
print(y)

3 4
5 6
3 4
5 6

In [ ]:
N = input().split()

3 2 4 5 6 7

In [ ]:
print(N)

['3', '2', '4', '5', '6', '7']

In [ ]:
N = int(input())

3

In [ ]:
M = int(input())

5

## Quiz

In [ ]:
x = input().split()

3 5

In [ ]:
print(x)

['3', '5']

In [ ]:
N, M = x[0], x[1] # option 1, multiple variable assignment

print(N, type(N))
print(M, type(M))

3 <class 'str'>
5 <class 'str'>

In [ ]:
# N, M = int(x[0], x[1])

In [ ]:
N = int(x[0])
M = int(x[1])
print(N, type(N))
print(M, type(M))

3 <class 'int'>
5 <class 'int'>

In [ ]:
## Solution

In [ ]:
x = input().split()

N = int(x[0])
M = int(x[1])

for i in range(N): # outer loop for rows
    for j in range(M): # inner loop for columns
        print('*', end='')
    print()

3 5
*****
*****
*****

In [ ]:
N = int(input())

for i in range(1, N + 1):
    for j in range(N - i + 1):
        print('*', end='')
    for j in range(2*i - 2):
        # print('_', end='')
        print(' ', end='')
    for j in range(N - i + 1):
        print('*', end='')
    print()


for i in range(N - 1, 0, -1):
    for j in range(N - i + 1):
        print('*', end='')
    for j in range(2*i - 2):
        # print('_', end='')
        print(' ', end='')
    for j in range(N - i + 1):
        print('*', end='')
    print()

7
**************
******  ******
*****    *****
****      ****
***        ***
**          **
*            *
**          **
***        ***
****      ****
*****    *****
******  ******
**************

## Multiple Inputs

In [ ]:

T = int(input())

# how many times input needs to be taken??

for i in range(T):
    x = int(input())
    print(x)

4
1
1
12
12
123
123
1234
1234

In [ ]:
1

In [ ]:
N = 673
print(N/10)

67.3

In [ ]:
print(N//10)

67

In [ ]:
x = 673

y = x

while x > 0:
    y = x
    print(x)
    x = x//10

print(y)

673
67
6
6

# Code

In [ ]:

def get_first_digit(x):
    y = x
    while x > 0:
        y = x
        x = x//10
    return y

def get_last_digit(x):
    return x % 10

T = int(input())

# how many times input needs to be taken??

for i in range(T):
    x = int(input())
    
    # focus on finding the first digit of x
    y = get_first_digit(x)
    
    z = get_last_digit(x)
    print(y, z)

3
1
1 1
4
4 4
4567
4 7