# Problem Solving Session on Lists

## Q1. Consecutive Duplicate

In [9]:
n = 5
for i in range(n):
    print(i, i + 1)

0 1
1 2
2 3
3 4
4 5

In [10]:
ls = [1, 2, 3, 3, 4, 5]
n = 6

for i in range(n - 1):
  print(i, i + 1)

0 1
1 2
2 3
3 4
4 5

In [12]:
ls = [1, 2, 3, 3, 4, 5]
n = 6

for i in range(n - 1):
  print(ls[i], ls[i + 1])

1 2
2 3
3 3
3 4
4 5

## Q2. Second Largest

In [14]:
l = [5, 1, 2, 5, 3, 5, 4]

# Approach 1: Using sorting
l.sort()
print(l)

print(l[-2])

[1, 2, 3, 4, 5, 5, 5]
5

In [19]:
l = [5, 1, 2, 4, 5, 3]

# Approach: 2
#  m = First get the max
#  Remove the value m in the list
#  Again get the max in remaining list

m = max(l) # Try to think how to find it without max function
print(m)

l.remove(m)
print(l)

m2 = max(l)
print(m2)

5
[1, 2, 4, 5, 3]
5

In [20]:
def find_maximum(ls):
  n = len(ls)
  maxi = ls[0]

  for i in range(1, n):
    if ls[i] > maxi:
      maxi = ls[i]

  return maxi

In [21]:
l = [5, 1, 2, 4, 5, 3]

# Approach: 2
#  m = First get the max
#  Remove the value m in the list
#  Again get the max in remaining list

m = find_maximum(l)
print(m)

l.remove(m)
print(l)

m2 = find_maximum(l)
print(m2)

5
[1, 2, 4, 5, 3]
5

## Q3. Check if Array is Sorted

In [26]:
ls = [5, 7, 7, 7, 11, 19]
n = 6

for i in range(n - 1):
  print(ls[i], ls[i + 1], ls[i] > ls[i + 1])

5 7 False
7 7 False
7 7 False
7 11 False
11 19 False

In [25]:
ls = [5, 7, 7, 3, 11, 19]
n = 6

for i in range(n - 1):
  print(ls[i], ls[i + 1], ls[i] > ls[i + 1])

5 7 False
7 7 False
7 3 True
3 11 False
11 19 False

## Q4. Wave Print (Column Wise)

In [44]:
# 4 1 2 
# 7 4 4 
# 3 7 4 

m = [
     [4, 1, 2],
     [7, 4, 4],
     [3, 7, 4]
]

print(m)

[[4, 1, 2], [7, 4, 4], [3, 7, 4]]

In [36]:
R = len(m)
C = len(m[0])

# in the problem it's a N*N matrix

N = len(m)

for i in range(N): # loop over the rows
  for j in range(N): # loop over the col
    print(m[i][j], end=' ')

  print()

4 1 2
7 4 4
3 7 4

In [32]:
# 1st column
for i in range(N): 
  print(m[i][0], end=' ')

4 7 3

In [45]:
# 2nd column
for i in range(N):
  print(m[i][1], end=' ')

1 4 7

In [43]:
# 2nd column
for i in range(N - 1, -1, -1):
  print(m[i][1], end=' ')

8 5 2

In [34]:
# 3rd column
for i in range(N):
  print(m[i][2], end=' ')

2 4 4

In [39]:
# print(m)

for j in range(N): # outer loop => col
  for i in range(N): # inner loop => row
    print(m[i][j], end=' ')

4 7 3 1 4 7 2 4 4

## Doubts / QnA

In [40]:
m = []

n = int(input())
print(n)

3
3

In [41]:
for i in range(n):
  x = input().split()
  # print(x)
  l = list(map(int, x))
  print(l)

1 2 3
['1', '2', '3']
[1, 2, 3]
4 5 6
['4', '5', '6']
[4, 5, 6]
7 8 9
['7', '8', '9']
[7, 8, 9]

In [42]:
m = []
for i in range(n):
  x = input().split()
  # print(x)
  l = list(map(int, x))
  # print(l)
  m.append(l)

print(m)

1 2 3
4 5 6
7 8 9
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
m = []
for i in range(n):
  l = list(map(int, input().split()))
  m.append(l)

print(m)

In [ ]:
m = []
for i in range(n):
  m.append(list(map(int, input().split())))

print(m)

In [49]:
n = int(input())
m = [list(map(int, input().split())) for i in range(n)]
# readability comes at the cost of no of lines of code some times

3
1 2 3
4 6 9
-1 -2 -3

In [50]:
print(m)

[[1, 2, 3], [4, 6, 9], [-1, -2, -3]]

In [54]:
m1 = [[1, 2, 3], [4, 6, 9], [-1, -2, -4]]

In [57]:
print(m == m1)


for i in range(n):
  for j in range(n):
    if (m[i][j] != m1[i][j]):
      print(False)
      break

False
False

In [59]:
A = [[1, 2, 3], [4, 5, 6]]
B = [[1, 2, 4], [4, 5, 6]]

for i in range (len(A)):
  #P=[] #F=[]
  for j in range (len(A[0])):
    if A[i][j]==B[i][j]:
      #x=1 continue
      # P.append(x)
      print('Equal values')
    else:
      #x=0
      #F.append(x)
      print(0)
      break

Equal values
Equal values
0
Equal values
Equal values
Equal values

In [ ]:
a = [1, 2, 3]
b = [2, 8, 12]

In [64]:

def f(x):
  return 4+x

l = [1, 2, 3, 4, 5, 6]

res = list(map(f, l))
print(res)

[5, 6, 7, 8, 9, 10]

In [62]:
print(list(range(1, 10)))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [69]:
l = [None, 1, 2]
print(type(l))

print(len(l))

<class 'list'>
3

In [68]:
l = []
print(type(l))

print(len(l))

<class 'list'>
0