# Pattern Printing

In [ ]:
N = 6

for r in range(1, N + 1):
  # we need to print * r times over here
  for c in range(r):
    print('*', end='')
  print()

*
**
***
****
*****
******

## Pattern 2

In [ ]:
N = 5

for r in range(1, N + 1):
  # we need to print * r times over here
  for c in range(1, r + 1):
    if c % 2 == 1:
      print('*', end='')
    else:
      print(c, end='')
  print()

*
*2
*2*
*2*4
*2*4*

## Challenge 3

In [ ]:
N = 5

for r in range(1, N + 1):
  # we need to print * (N - r + 1) times over here
  # print(N - r + 1)
  for c in range(N - r + 1):
    print('*', end='')
  print()

*****
****
***
**
*

## Challenge 4: Pattern with Space

In [ ]:
N = 5

for r in range(N):
  print('*', end='')
  for c in range(N - 1):
    print(' ', end='')
  print('*', end='')
  print()

*    *
*    *
*    *
*    *
*    *

## Challenge 5

In [ ]:
N = 10

for r in range(1, N + 1):
  # print (N - r) spaces
  for c in range(N - r):
    print(' ', end='')
  # print r stars
  for c in range(r):
    print('*', end='')
  # print a new line
  print()

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********

## Challenge 6: Pyramid

In [ ]:
N = 10

for r in range(1, N + 1):
  # print (N - r) spaces
  for c in range(N - r):
    print(' ', end='')

  # print (2*r - 1) stars
  for c in range(2*r - 1):
    print('*', end='')

  # print (N - r) spaces
  for c in range(N - r):
    print(' ', end='')
  
  # print the new line
  print()

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************

## Doubts

In [ ]:
for i in range(5):
  for j in range(3):
    print('*', end=' ')
  print()

* * *
* * *
* * *
* * *
* * *

In [ ]:
for i in range(5):
  for j in range(3):
    if j != 2:
      # end is a space, for all except last
      print('*', end=' ')
    else:
      # j == 3
      # end is not a space, empty, for the last iteration
      print('*',end='')
  print()

* * *
* * *
* * *
* * *
* * *

In [ ]:
N = 6

for r in range(1, N + 1):
  # we need to print * r times over here
  # for c in range(r):
  #   print('*', end='')
  print('*' * r)

*
**
***
****
*****
******

In [ ]:
print("Hello world", end='+abc')

Hello world+abc

In [ ]:
a= 3
print(a)

3