### Question 1: Creating squares list

In [ ]:
l = [1, 5, 9, 10]

res = []
for i in l:
  res.append(i*i)

print(res)

[1, 25, 81, 100]

### How did we take the input of list?

In [ ]:
def create_list():
  x = input().split()

  l = []
  for i in x:
    l.append(int(i))
  return l

l = create_list()
print(l)

1 2 3 4 5
[1, 2, 3, 4, 5]

In [ ]:
def square(x):
  return x*x

l = [1, 5, 9, 10]

res = list(map(square, l))
print(res)

[1, 25, 81, 100]

In [ ]:

def find_meal(food_item):
  if food_item == "Poha":
    return 'Breakfast'
  elif food_item == "Dahi Rajma Chawal":
    return 'Lunch'
  else:
    return 'Dinner'

  
fav_food_items = ["Butter Panner and Naan", "Poha", "Dahi Rajma Chawal"]

meals = []

for i in fav_food_items:
  meals.append(find_meal(i))

print(meals)

['Dinner', 'Breakfast', 'Lunch']

In [ ]:
new_meals = list(map(find_meal, fav_food_items))
print(new_meals)

['Dinner', 'Breakfast', 'Lunch']

In [ ]:
def find_sqr(x):
   return x*x*2

l = [1, 2, 3]
res = map(find_sqr, l)

print(res)

<map object at 0x7fa738e7a510>

In [ ]:
print(range(1, 10))

range(1, 10)

In [ ]:
print(list(range(1, 10)))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
def find_sqr(x):
   return x*x*2

l = [1, 2, 3]
res = list(map(find_sqr, l))

print(res)

[2, 8, 18]

## Input List directly

In [ ]:
x = input().split()

print(x)

1 2 3 4 5
['1', '2', '3', '4', '5']

In [ ]:
l = map(int, x)
print(l)

<map object at 0x7fa738e593d0>

In [ ]:
l = list(map(int, x))
print(l)

[1, 2, 3, 4, 5]

## Brahmastra for taking list input

In [ ]:
x = input().split()
l = list(map(int, x))

9 1 2 3 4 7

In [ ]:
print(l)

[9, 1, 2, 3, 4, 7]

## Quiz

In [ ]:
l = ["basketball", "cricket", "badminton"]
l.append("badminton")

print(l)

['basketball', 'cricket', 'badminton', 'badminton']

## Nested List

In [ ]:
runs = [0, 99, 200, 15]

In [ ]:
print(runs)

[0, 99, 200, 15]

## 2D List Input

In [ ]:
# take rows and cols as input
# R C
# R rows
x = input().split()
l = list(map(int, x))
R = l[0]
C = l[1]

res = []
for i in range(R):
  y = input().split()
  l2 = list(map(int, y))
  res.append(l2)

3 5
1 2 3 4 5
6 7 8 9 10
11 12 13 14 15

In [ ]:
print(res)

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10], [11, 12, 13, 14, 15]]

In [ ]:
# take rows and cols as input
# R C
# R rows
x = input().split()
l = list(map(int, x))
R = l[0]
C = l[1]

res = []
for i in range(R):
  y = input().split()
  l2 = list(map(int, y))
  res.append(l2)

3 5
1 2 3 4 5 6 7 8 9 10
1 2 3
1 2 3 4

In [ ]:
print(res)

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [1, 2, 3], [1, 2, 3, 4]]

In [ ]:
# take rows and cols as input
# R C
# R rows
x = input().split()
l = list(map(int, x))
R = l[0]
C = l[1]

res = []
for i in range(R):
  y = input().split()
  l2 = list(map(int, y))
  res.append(l2[:C]) # We want only first 5 values (C = 5)

3 5
1 2 3 4 5 6 7 8 9 10 11
-1 -2 -3 -4 -5 -6
0 0 0 0 0 0 0 0 0 0

In [ ]:
print(res)

[[1, 2, 3, 4, 5], [-1, -2, -3, -4, -5], [0, 0, 0, 0, 0]]

In [ ]:
# take rows and cols as input
# R C
# R rows
x = input().split()
l = list(map(int, x))
R = l[0]
C = l[1]

res = []
for i in range(R):
  y = input().split()
  l2 = list(map(int, y))

  # if the user provides less data
  if len(l2) < C:
    print('Hey user your input is not valid!')

  # if the user provides more data
  res.append(l2[:C]) # We want only first 5 values (C = 5)

3 5
1 2 3
Hey user your input is not valid!
1 2 3 4
Hey user your input is not valid!
1 2 3 4 5

In [ ]:
print(res)

[[1, 2, 3], [1, 2, 3, 4], [1, 2, 3, 4, 5]]

In [ ]:

# l = [3, 5]
zzzzz = input().split()
l = list(map(int, zzzzz))

x = l[0]
y = l[1]

print(x)
print(y)

## Finding the sum of runs scored by Sachin

In [ ]:
for i in range(2):
 for j in range(2):
   print(i, j)

0 0
0 1
1 0
1 1

In [ ]:
runs = [
        [10, 22, 52], # ODI
        [200, 300, 199], # Test
        [5, 15, 20] # T20
]

# Find total runs scored in all formats

R = 3
C = 3

In [ ]:
for i in range(R):
  for j in range(C):
    print(i, j, runs[i][j])

0 0 10
0 1 22
0 2 52
1 0 200
1 1 300
1 2 199
2 0 5
2 1 15
2 2 20

In [ ]:
for i in range(R):
  for j in range(C):
    print(runs[i][j], end=' ')
  print()

10 22 52
200 300 199
5 15 20

In [ ]:
s = 0
for i in range(R):
  for j in range(C):
    s += runs[i][j]
  

print(s)

823

## R = 3, C = 5

In [ ]:
R = 3
C = 5

mat = [
       [1] * 5,
       [2] * 5,
       [3] * 5
]

print(mat)

[[1, 1, 1, 1, 1], [2, 2, 2, 2, 2], [3, 3, 3, 3, 3]]

In [ ]:
l = [0] * 6
print(l)

[0, 0, 0, 0, 0, 0]

In [ ]:
for i in range(R):
  for j in range(C):
    print(mat[i][j], end=' ')
  print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3

## Quiz

In [ ]:
runs = [[0, 1, 100, 99], [1, 99, 0, 0]]

print(runs[0])
print(runs[1])

[0, 1, 100, 99]
[1, 99, 0, 0]

In [ ]:
print(sum(runs[0]))

200

In [ ]:
print(sum(runs[1]))

100

## Find the runs made in each format

In [ ]:
runs = [
  [10, 22, 52], # ODI
  [200, 300, 199], # Test
  [5, 15, 20] # T20
]

R = len(runs)

for i in range(R):
  print(sum(runs[i]))

84
699
40

## Find max in each format (store in res)

In [ ]:
runs = [
  [10, 22, 52], # ODI
  [200, 300, 199], # Test
  [5, 15, 20] # T20
]

R = len(runs)
res = []

for i in range(R):
  # print(max(runs[i]))
  res.append(max(runs[i]))

print(res)

[52, 300, 20]

In [ ]:
res2 = list(map(max, runs))
print(res2)

[52, 300, 20]

In [ ]:
sum2 = list(map(sum, runs)) # sum in all the formats
print(sum2)

[84, 699, 40]

In [ ]:
total_sum = sum(sum2)
print(total_sum)

823

## Main Diagonal

In [ ]:
for i in range(3):
  for j in range(3):
    if i == j:
      print(i, end=' ')

0 1 2

In [ ]:
runs = [
  [10, 22, 52], # ODI
  [200, 300, 199], # Test
  [5, 15, 20] # T20
]

for i in range(3):
  for j in range(3):
    if i == j:
      print(runs[i][j], end=' ')

10 300 20

## Doubts

In [ ]:
# take rows and cols as input
# R C
# R rows
x = input().split()
l = list(map(int, x))
R = l[0]
C = l[1]

res = []
for i in range(R):
  y = input().split()
  l2 = list(map(int, y))

  # if the user provides less data
  if len(l2) < C:
    print('Hey user your input is not valid!')

  # if the user provides more data
  res.extend(l2[:C]) # We want only first 5 values (C = 5)

3 3
1 2 3
4 5 6
7 8 9

In [ ]:
print(res)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
l = [1, 2, 3, [4, 5]]

R = len(l)

s = 0
for i in range(R):
  if isinstance(l[i], int):
    s += l[i]
  else:
    s += sum(l[i])

print(s)

15

In [ ]:
l = [
     [1, 2, 3],
     [4, 5, 6],
     [7, 8, 9]
]

for i in range(3):
  for i in range(3):
    print(l[i][i], end=' ')
  print()

1 5 9
1 5 9
1 5 9

In [ ]:
N = int(input())

x = input().split()
l = map(int, x)

print(l)

5
1 2 3 4 5
<map object at 0x7f005514b290>

In [ ]:
l = list(l)
print(l)

[1, 2, 3, 4, 5]

In [ ]:
l = []
for i in range(10):
  l.append(i)

print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]